@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Paypal Sans";
  src: local("PayPalSansBig-Regular-Klim"),
    url("/fonts/PayPalSansBig-Regular-Klim.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paypal Sans";
  src: local("PayPalSansBig-Light-Klim"),
    url("/fonts/PayPalSansBig-Light-Klim.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Paypal Sans";
  src: local("PayPalSansSmall-Medium-Klim"),
    url("/fonts/PayPalSansSmall-Medium.woff-Klim") format("woff");
  font-weight: 500;
  font-style: normal;
} */

/* @font-face {
  font-family: "Paypal Sans";
  src: local("PayPalSansSmall-Regular-Klim"),
    url("/fonts/PayPalSansSmall-Regular-Klim.woff") format("woff");
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}

/* Ẩn thanh cuộn trên WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn trên Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ant-popover-inner {
  padding: 0 !important;
}


.custom-upload-event-info .ant-upload {
  width: 300px !important;
  height: 300px !important;
}

.custom-upload-banner-info .ant-upload {
  width: 100% !important;
  height: 300px !important;
}

.custom-upload-organizer-info .ant-upload {
  width:  100% !important;
  height: 200px !important;
}

